<a href="https://colab.research.google.com/github/aryansonu2003/Phyton-Training/blob/main/my_phyton_training_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST from left ro right

In [ ]:
L= [10,20,30,40,50,60,70,80,90]
count=0
for i in range(len(L)-1,-1,-1):

    L[i]=L[i]+100

    count=count+1

    if count==5:
        break
print(*L)

Sum of all even integer

In [ ]:
str1=input()
esum = 0
for i in range(len(str1)):
    if str1[i].isdigit():
        if int(str1[i])%2==0:
            esum=esum+int(str1[i])
print(esum)

KeyboardInterrupt: Interrupted by user

check whetehr the given array is sorted in non decreasing order

In [ ]:
L = [10,20,30,40,50,50,70,60]
flag= True
for i in range(len(L)-1):
    if L[i]<=L[i+1]:
        flag=True
    else:
        flag=False

        if flag:

           print("YES")

        else:
            print("NO")

find the length of the last word the given sentence

In [ ]:
inpstr = input()
cnt=0
for i in range(len(inpstr)-1,-1,-1):
    if inpstr[i]==" ":
        break;
    else:
        cnt=cnt+1
print(cnt)

Code for finding second largest element from array

In [ ]:
L=[100,10,50,25,50,100,10,25]
L = sorted(L); flag = 0
for i in range(len(L)-1,0,-1):
    if L[i-1]!=L[i]:
        flag=1
        break;
if flag == 1:
            print("Second largest element is:",L[i-1])
else:
            print("Second largest element is not present")

Code for finding second largest element from array \\ without Onlog(n)

In [ ]:
L=[100,10,50,25,50,100,10,25]
flar= float('-inf'); slar= float('-inf')
for i in range(len(L)):
    if L[i]>flar:
        slar=flar
        flar=L[i]
    elif L[i]<flar and L[i]>slar:
        slar=L[i]
print("Second largest elemnt is:",slar)

move all zeros to the end and append it also append the average of all non zero to the end

In [ ]:
L=[10,0,30,0,20]
cnt=L.count(0)
for i in range(cnt):
    L.remove(0)
avg=sum(L)//len(L)
for i in range(cnt):
    L.append(0)
L.append(avg)
print(*L)

print last 10 digit in the given string eg:987-af-6-gh-98743210,ppp,56789-rrr

In [ ]:
str1="987-af-6-gh-98743210,ppp,56789-rrr"
outstr="";cnt=0

for i in range(len(str1)-1,-1,-1):
    if str1[i].isdigit():
        outstr=outstr+str1[i]
        cnt=cnt+1
    if cnt==10:
        break
print(outstr[ : :-1])

encoded string decoded

In [ ]:
inpstr = input()
outstr="";cnt=0
for i in range(len(inpstr)):
    if inpstr[i]=='0'and cnt>0:#cnt>0 is for avoiding 64 in ASCII which is @
        outstr=outstr+chr(ord('A')+cnt-1)

        cnt=0

    elif inpstr[i]=="1":
        cnt=cnt+1
print(outstr)

01011011101111
ABC

input stuff

In [ ]:
n=int(input())
L = [int(input()) for i in range]

sum of all unique numbers in a list

In [ ]:
L=[3,5,1,5,3,4,2,1,2,4]
s=set(L)
print(sum(s))

15

set

In [ ]:
s1={4,2,3,4,3,1,5}
s2={55.5,55.5,123,"ram"}
print(s,type(s1))
print(*s2)

{1, 2, 3, 4, 5} <class 'set'>
123 ram 55.5

set (subset and superset)

In [ ]:
s1={1,2,3,4,3,7,3,5}
s2={3,4,5}
print(s1.issubset(s2))
print(s2.issubset(s1))
print(s1.issuperset(s2))
print(s2.issuperset(s1))

False
True
True
False

union,intersection etc.......

In [ ]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8}
print(s1|s2)
print(s1&s2)
print(s1-s2)
print(s2-s1)
print(s2^s1)#union-intersection

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6}
{1, 2, 3}
{8, 7}
{1, 2, 3, 7, 8}

Pangram

In [ ]:
str1="the quick brown fox jumps over the lazy dog"
alph="abcdefghijklmnopqrstuvwxyz"
str1=str1.replace(" ","")
str1=str1.lower()
L1=sorted(set(str1))
print(L1)
str1="".join(L1)
print(str1)
if(str1==alph):
    print("the string is a pangram")
else:
    print("not a pangram")

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
abcdefghijklmnopqrstuvwxyz
the string is a pangram

both in s1 and s2

In [ ]:
L1=[1,4,10,20,40,50]
L2=[6,7,20,80,100]
s1=set(L1)
s2=set(L2)
s3=s1&s2
print(s3)

In [ ]:
Happy Number

In [ ]:
n=int(input())
seen_nums=set()
while n!=1 and n not in seen_nums:
    seen_nums.add(n); squaresum=0
    while(n>0):
        ld=n%10

        squaresum=squaresum+ld**2

        n=n//10
    n=squaresum
if n==1:
    print("Happy number")
else:
    print("Not happy number")

19
Happy number

slicing

In [ ]:
L[ : : ]#start,stop,step

In [ ]:
n = int(input("Enter a number: "))
max_digit = 0

while n > 0:
    digit = n % 10         # ðŸª’ Shave off the last digit
    if digit > max_digit:  # ðŸ” Compare it with current max
        max_digit = digit  # ðŸ’¾ Keep the bigger one
    n = n // 10            # âœ‚ï¸ Cut off the last digit

print("Largest digit is:", max_digit)

Enter a number: 89157795
Largest digit is: 9

BASIC STRING 3

In [ ]:
str1 = input();str2=input()
flag=0
for i in range(len(str2)):
    str2=str2[1:]+str2[:1]
    if str1==str2:
        flag=1
        break
if flag ==1:
    print("YES")
else:
    print("NO")

ABCD
DACB
NO

alphabet arranged based upon input

In [ ]:
n=int(input())
for i in range(1,n+1):
  print(" "*(n-i),end=" ")
  for j in range(i):
    print(chr(65+j),end=" ")
  print()

5
     A
    A B
   A B C
  A B C D
 A B C D E

# **TECHNICAL TRAINING**

In [ ]:
a=int(input())
b=int(input())
if a>b:
  print("a is great")
if b>a:
  print("b is grt")
if a==b:
  print("both equal")

6
5
a is great

In [ ]:
a=int(input())
b=int(input())
if a>b:
  print(a, "is great")
if b>a:
  print("b is grt")
if a==b:
  print("both equal")

6
5
6 is great

In [ ]:
a=int(input())
b=int(input())
if a>b:
  print("a is great")
elif b>a:#elif makes sure that if if is true elif not executed
  print("b is grt")
else:#same as elif
  print("both equal")

6
8
b is grt

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    print("a is great")
elif b>a and b>c:
    print("b is great")
elif c>a and c>b:#not else because if 777 come else will print that isn't viable
    print("c is great")

9
5
2
a is great

In [ ]:
a=[6,5,7,8,4,8]
for i in a:#once the iterartion start and you remove first number (0 th number)then
# on second iteration you remove 1 st number from the already operated list
#repeat the process..........
  a.remove(i)
print(a)

[5, 8, 8]

In [ ]:
a=[6,5,7,8,4,]
a.append(10)#attach to last in a list
print(a)
a.extend([4,5,6])#just extend the list
print(a)
a.insert(3,300)#insert a value in the index
print(a)
a.remove(5)#remove means we remove the value mentioned not the value in the index
print(a)
a.pop(4)#just pop means remove from last if (4) is given remove from that index
print(a)
a.sort(reverse=True)#first sort the list in ascending order and then reverse the sorted list
print(a)

[6, 5, 7, 8, 4, 10]
[6, 5, 7, 8, 4, 10, 4, 5, 6]
[6, 5, 7, 300, 8, 4, 10, 4, 5, 6]
[6, 7, 300, 8, 4, 10, 4, 5, 6]
[6, 7, 300, 8, 10, 4, 5, 6]
[300, 10, 8, 7, 6, 6, 5, 4]

In [ ]:
a={6,9,8,6,7,8}
b={7,2,8,3,1}
c=a.union(b)
print(c)
d=a.intersection(b)
print(d)
e=a.symmetric_difference(b)#remove the common values and then sum the remaning
print(e)
f=a.difference(b)#a-b and remaing values of a
print(f)
a.remove(6)#shows error if key not found
print(a)
b.discard(7)#doesnt show erroe no matter what
print(b)

{1, 2, 3, 6, 7, 8, 9}
{8, 7}
{1, 2, 3, 6, 9}
{9, 6}
{8, 9, 7}
{1, 2, 3, 8}

In [ ]:
a={5:9,2:6,3:1,7:3}
print(a.items())
print(a.keys())
print(a.values())

dict_items([(5, 9), (2, 6), (3, 1), (7, 3)])
dict_keys([5, 2, 3, 7])
dict_values([9, 6, 1, 3])

In [ ]:
def qwer():
  print("hi")
qwer()

hi

In [ ]:
def qwer(x):#defining function so that if and else condition need not be reapted for every input
  if(x%2==0):
    print("e")
  else:
    print("o")
a=int(input())
qwer(a) #calling function for a input
b=int(input())
qwer(b)  #calling function for b input

51
o
88
e

In [ ]:
def fisat(x):
  print("hi",x)
fisat(10)
fisat(20)

hi 10
hi 20

In [ ]:
def fisat(x,y):
  print("hi",x,y)
fisat(50,10)

hi 50 10

In [ ]:
def fisat(x=600,y):
  print("hi",x,y)
fisat(10,20)  #reason for error is 600  is the only default here and you cannot pass value directly to y

SyntaxError: non-default argument follows default argument (ipython-input-22-144092464.py, line 1)

In [ ]:
def fisat(*x):
  print("hi",x)
fisat(10,8,7,6,4,3,9)

hi (10, 8, 7, 6, 4, 3, 9)

In [ ]:
def fisat(*x,a,b):
  print("hi",x,a,b)
fisat(10,8,7,6,4,3,9)  #eror because *x consumes all the values to form a tuple none left

TypeError: fisat() missing 2 required keyword-only arguments: 'a' and 'b'

In [ ]:
def fisat(a,b,*x):
  print("hi",x,a,b)
fisat(10,8,7,6,4,3,9)

hi (7, 6, 4, 3, 9) 10 8

s**um of even**

In [ ]:
a=[7,2,6,4,1,2,8,9,4]
sum=0
for i in range(0,9,1):
    if a[i]%2==0:
        sum=sum+a[i]
print(sum)

26

**sum of even index**

In [ ]:
a=[7,2,6,4,1,2,8,9,4]
sum=0
for i in range(0,9,1):
  if i%2==0:
    sum=sum+i
print(sum)

20

sum of element in even and odd index

In [ ]:
a=[7,2,6,4,1,2,8,9,4]
sum=0
sum1=0
sum2=0
for i in range(0,9,1):
    if a[i]%2==0:
        sum=sum+a[i]
    else:
      sum1=sum1+a[i]
sum2=sum+sum1

print(sum2)

43

adding

In [ ]:
a=[5,3,4,1,6,7]
b=[8,5,7,1,3,4]

for i in range(len(a)):
  sum=a[i]+b[i]
  print (sum,end=" ")

13 8 11 2 9 11

In [ ]:
a=[5,3,4,1,6,7]
b=[8,5,7,1,3,4]

for i,j in zip(a.b):

  print (i+j,end=" ")

13 8 11 2 9 11

adding two list if data is not same len

In [ ]:
a=[5,3,4,1,6]
b=[8,5,7,1,3,4]

for i in range(len(a)):
  for j in range(len(b)):
    sum=a[i]+b[i]
  print (sum,end=" ")

13 8 11 2 9

adding first and last values of a and b

In [ ]:
a=[5,3,4,1,6,7]
b=[8,5,7,1,3,4]

for i in range(0,len(a),1):
  print (a[i]+b[-1-i],end=' ')

9 6 5 8 11 15

In [ ]:
def fisat():
  print("hi")
  print(2)
def zcx():
  print("hello")
  fisat()
  print(3)
fisat()
print(1)
zcx()
print(1)
fisat()

hi
2
1
hello
hi
2
3
1
hi
2

In [ ]:
a=[4,2,3,0,1]
b=[]
for i in a:
  b.append(a[i])#it will take like a[3],a[1],a[4],a[2],a[0]
b.extend([5,8,1])
b.insert(3,8)
print(b[2]+b.count(10)+len(b))

9

In [ ]:
a=[3,1,4,2,0]
b=[6,5]
for i in a:
  b.append(a[i])
b.pop(2)
b.insert(3,8)
b.extend([2,3,4])
print(b[5]+b[2]+b[-3])
print(b)

7
[6, 5, 1, 8, 0, 4, 3, 2, 3, 4]

In [ ]:
a=['j','R','f','y','a','i']
a.sort()
print(a)

['R', 'a', 'f', 'i', 'j', 'y']

In [ ]:
a=['hello','car','apple','hey','students',]
a.sort()
print(a)

['apple', 'car', 'hello', 'hey', 'students']

In [ ]:
#when we need to arrage based on lenghth
a=['hello','car','apple','hey','students',]
b=[]
for i in a:
  b.append(len(i))
print(b)
c=list(zip(b,a))
print(c)
c.sort()
print(c)

[5, 3, 5, 3, 8]
[(5, 'hello'), (3, 'car'), (5, 'apple'), (3, 'hey'), (8, 'students')]
[(3, 'car'), (3, 'hey'), (5, 'apple'), (5, 'hello'), (8, 'students')]

In [ ]:
a=[5,7,3,2,8,6,1]
print(a[0:6])
print(a[0:7:2])

[5, 7, 3, 2, 8, 6]
[5, 3, 8, 1]

á¸¶EET **CODE**

In [ ]:
a=[2,7,11,15]
t=9
for i in range(len(a)-1):
  for j in range(i+1,len(a)):
    if(a[i]+a[j]==t):
        print(i,j)

0 1

sorting

In [ ]:
a=[2,4,6,7,9,10]
b=[3,5,7,8,12,13]
a.sort()
a.extend(b)
a.sort()
print(a)

[2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 12, 13]

**sorting without sort function

In [ ]:
a=[2,4,6,7,9,10]
b=[3,5,7,8,12,13]
c=[]
i=0
j=0
while(i<len(a) and j<len(b)):
  if(a[i]<b[j]):# comparing each element of respective list
    c.append(a[i])#if list a has it smll append that value to c
    i=i+1
  else:
    c.append(b[j])# "
    j=j+1
while(j<len(b)):#if a is finished the append rest of b to c
  c.append(b[j])
  j=j+1
while(i<len(a)):# "
  c.append(a[i])
  i=i+1
print(c)

[2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 12, 13]

stocks profit(leet code)

In [ ]:
prices = [7,1,5,3,6,4]
pr=[]
for i in range(len(prices)-1):#to not be out of bound
    for j in range(i+1,len(prices)):
        pr.append(prices[j]-prices[i])
print(pr)
print(max(pr))

[-6, -2, -4, -1, -3, 4, 2, 5, 3, -2, 1, -1, 3, 1, -2]
5

stocks profit(leet code) with time limit followed

In [ ]:

prices=[7,1,5,3,6,4]
b=prices[0]
pr=0
for i in prices:
    if (i<b):
        b=i
    else:
        if (i-b>pr):
            pr=i-b
print(pr)

5

**DSA**

dll

In [ ]:
class node:
  def __init__(self,u):
    self.data=u
    self.next=None
    self.prev=None
def display():
  t=a
  while(t!=None):#the last value has no address
    print(t.data)#print the data of t
    t=t.next#next address is used t is now changed
a=node(10)
a.next=node(20)
a.next.next=node(30)
display()

10
20
30

SLL

In [ ]:
class node:
  def __init__(self,u):
    self.data=u
    self.next=None
def display():
  t=a
  while(t!=None):#the last value has no address
    print(t.data)#print the data of t
    t=t.next#next address is used t is now changed
a=node(10)
a.next=node(20)
a.next.next=node(30)
display()

10
20
30

SUM/even sum/middle node

In [ ]:
class node:
  def __init__(self,u):
    self.data=u
    self.next=None
def middle():
  t=a
  c=0
  while(t!=None):
    c=c+1
    t=t.next
  t=a
  for i in range(c//2):
    t=t.next
  print(t.data)


def sum_even():
  t=a
  sum_even=0
  while(t!=None):
    if(t.data%2==0):
      sum_even=sum_even+t.data
    t=t.next
  print(sum_even)

def sum():
  t=a
  sum=0
  while(t!=None):
      sum=sum+t.data
      t=t.next
  print(sum)
def display():
   t=a
   while(t!=None):#the last value has no address
    print(t.data)#print the data of t
    t=t.next#next address is used t is now changed


a=node(10)
a.next=node(23)
a.next.next=node(30)
a.next.next.next=node(40)
display()
sum()
sum_even()
middle()

10
23
30
40
103
80
30

Efficent middle node

In [ ]:
class node:
  def __init__(self,u):
    self.data=u
    self.next=None
def middle():
  t=a
  s=a
  while(t!=None and t.next!=None):#for even move util none but not none and for off move util next is none(since its and both should be true or else it comes out)
    t=t.next.next# t jumps 2 times
    s=s.next#when s jumps 1 time t jump 2 times
  print(s.data)#print the s value
a=node(10)
a.next=node(23)
a.next.next=node(30)
a.next.next.next=node(40)
a.next.next.next.next=node(50)
a.next.next.next.next.next=node(60)
middle()

40

i/p chnaged liniked list(add back function)

In [ ]:
class node:
  def __init__(self,u):
    self.data=u
    self.next=None
def add_back(x):
  t=a
  while(t.next!=None):
    t=t.next
  t.next=node(x)
def display():
   t=a
   while(t!=None):#the last value has no address
    print(t.data)#print the data of t
    t=t.next#next address is used t is now changed
a=node(10)
add_back(23)
add_back(30)
add_back(40)
add_back(57)
add_back(67)
add_back(75)
display()

10
23
30
40
57
67
75

kth term from the end

In [ ]:
class node:
  def __init__(self,u):
    self.data=u
    self.next=None
def kth_last(k):
  f=a
  s=a
  for i in range(k):
    f=f.next#jump f to the kth position
  while(f!=None):
      f=f.next#after that first jump f and s jumps same
      s=s.next#after that first jump f and s jumps same
  print(s.data)
def add_back(x):
  t=a
  while(t.next!=None):
    t=t.next
  t.next=node(x)
def display():
   t=a
   while(t!=None):#the last value has no address
    print(t.data)#print the data of t
    t=t.next#next address is used t is now changed
a=node(10)
add_back(23)
add_back(30)
add_back(40)
add_back(57)
add_back(67)
add_back(75)
display()
kth_last(3)

10
23
30
40
57
67
75
57